<header id="header">
  <div class="content">
    <div id="logo">
      Isla de Pascua.
    </div>
    <nav id="nav">
    </nav>
  </div>
</header>

<div id="slide1">
  <div class="content img-responsive ">
    <h2>¡LA MÁXIMA ENTRETENCIÓN!</h2>
  </div>
</div>

<div id="slide2">
  <div class="content">
    <div class="blurb-container">
    <h3 class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    <h4 class="name-dark">Diego Lorca</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
    <h3 class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    <h4 class="name">Coworks.Ca staff</h4>
    </div>
  </div>
</div>

<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
    <h3 class="blurb">Copyright (c) 2017 Copyright Holder All Rights Reserved.</h3>
    <h4 class="name-dark"></h4>
    <h1>The Pricing</h1>
    </div>
    <div class="panel-container">
      <div class="panel">
        <h4 class="price-type">Hot Spots (Daily)</h4>
        <p>habia una V, vino V e hicieron W .__. lkajsdasjadslkjdakldjaksdjaskdljaklsdjakdjaklsdjaklsjdaksldjalksjdaklsdjakl</p>
        <span class="price">$50/day</span>
      </div>
    </div>
    <div class="panel-container">
      <div class="panel">
        <h4 class="price-type">Hot Spots (Daily)</h4>
        <p>habia una V, vino V e hicieron W .__. lkajsdasjadslkjdakldjaksdjaskdljaklsdjakdjaklsdjaklsjdaksldjalksjdaklsdjakl</p>
        <span class="price">$50/day</span>
      </div>
    </div>
    <div class="panel-container">
      <div class="panel">
        <h4 class="price-type">lalalala(lala)</h4>
        <p>habia una V, vino V e hicieron W .__. </p>
        <span class="price">$80/day</span>
      </div>
    </div>
    <div class="panel-container">
      <div class="panel">
        <h4 class="price-type">Hot Spots</h4>
        <p>cuando cuentes cuentos cuenta cuantos cuentos cuentas</p>
        <span class="price">$100/day</span>
      </div>
    </div>
  </div>
</div>
